li {
    list-style-type: none;
}

/* #region Section 스타일 */

section {
    /* 
        HTML5 Section 요소 전체를 규격화
    */
    width: 100vw;
    height: 600px;
}

#section-1 {
    overflow: hidden;

    position: relative;

    height: 900px;
}
#section-1::before
{
    content: '';
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.1);

    position : absolute;

    left :0;
    top : 0;

    cursor: pointer;
}
#section-3 {
    /* 지워도 될것 */
    background-color: gold;
}

/* 배너 설정 */
.banner-container {
    position: absolute;

    /* 배너 한 개당 100% 증가 */
    width: 400%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;

    /* -100% 당 배너 하나씩 옮김 */
    left: 0%;

    z-index: -1;
    transition: left 0.5s cubic-bezier(0.36, 0.07, 0.58, 1);
}

.banner-image {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    overflow: hidden;
}

.banner-image:nth-child(1) {
    background-image: url('../images/banner-1.jpg');
}
.banner-image:nth-child(2) {
    background-image: url('../images/banner-2.jpg');
}
.banner-image:nth-child(3) {
    background-image: url('../images/banner-3.jpg');
}
.banner-image:nth-child(4) {
    background-image: url('../images/banner-4.jpg');
}

/* 배너 밑에 원형 아이콘 */
.banner-icon-container {
    position: absolute;
    width: 160px;
    height: 3rem;

    z-index: 0;

    /* background-color: rgba(0, 0, 0, 0.2); */
    bottom: 0;

    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner-icon {
    list-style-type: none;

    width: 1rem;
    height: 1rem;

    background-color: white;

    border-radius: 50%;

    cursor: pointer;

    transition: background-color 0.3s ease-in;
}
/* 배너 아이콘 클릭될 시 활성화 되면 색상 들어오기 */
/* 자바스크립트 코드 필요 */
.banner-icon.active {
    background-color: var(--color-Clinker);
}

/* 베너 양 옆 화살표 설정 */
.banner-arrow-container {
    width: 100%;
    height: 5rem;

    position: absolute;

    /* background-color: black; */

    bottom: 50%;
    left: 0;

    z-index: 0;

    overflow: hidden;
}
.banner-arrow {
    width: 5rem;
    height: 5rem;

    list-style-type: none;

    position: relative;

    cursor: pointer;
}
.banner-arrow::before {
    content: "";

    width: inherit;
    height: inherit;

    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;

    position: absolute;
    z-index: -1;

    transition: all 0.2s ease-in-out;
}
.banner-arrow:hover::before {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}
.banner-arrow:first-child {
    margin-left: 3rem;
    float: left;
}
.banner-arrow:last-child {
    /* 스크롤바 길이 */
    margin-right: 3.8rem;
    float: right;
}
.arrow-line {
    position: absolute;
    display: block;
    background-color: white;

    width: 2rem;
    height: 0.5rem;

    border-radius: 3rem;

    top: 2.25rem;
    transform-origin: right;
}
/* 배너 왼쪽 화살표 */
.banner-arrow:first-child > .arrow-line:first-child {
    transform: translateY(-1px) rotate(-135deg);
    animation: arrow-move-left 1.5s ease-in-out infinite alternate;
}
.banner-arrow:first-child > .arrow-line:last-child {
    transform: translateY(1px) rotate(135deg);
    animation: arrow-move-left 1.5s ease-in-out infinite alternate;
}
/* 배너 오른쪽 화살표 */
.banner-arrow:last-child > .arrow-line:first-child {
    transform: translateX(1rem) translateY(-1px) rotate(-45deg);
    animation: arrow-move-right 1.5s ease-in-out infinite alternate;
}
.banner-arrow:last-child > .arrow-line:last-child {
    transform: translateX(1rem) translateY(1px) rotate(45deg);
    animation: arrow-move-right 1.5s ease-in-out infinite alternate;
}

/* 화살표 이동 애니메이션 */
@keyframes arrow-move-left {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        left: -1.5rem;
    }
}
@keyframes arrow-move-right {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        left: 1.5rem;
    }
}

/* Section-2 */
#section-2 {
    height: 700px;
}
#section-2 > .container {
    padding: 4rem;
}

/* Section 타이틀 제목 속성 지정 */
.section-heading {
    font-family: var(--family-Cafe24Ssurround);
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

/* Section-2 메뉴 컨테이너 (플랙스) 설정 */
.section-2-menu-container {
    display: flex;

    height: 80%;
    flex-direction: row;

    justify-content: space-between;
    align-items: flex-start;
}

.section-2-menu-item {
    margin: 1rem;

    text-align: center;

    min-width: 300px;

    border: 8px solid #fff;
    border-radius: 5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #fff, 0.4rem 0.4rem 0.2rem #222,
        -0.1rem -0.1rem 0.2rem rgba(0, 0, 0, 0.2);

    overflow: hidden;
}

.section-2-menu-item:nth-child(2) {
    align-self: center;
}
.section-2-menu-item:nth-child(3) {
    align-self: flex-end;
}
.section-2-menu-item-image {
    filter: blur(1px);
    transition: all 0.4s;
}
.section-2-menu-heading {
    font-family: var(--family-Cafe24Syongsyong);
    font-size: 2.2rem;
    padding: 1rem 0;
    color: var(--color-Clinker);
}
.section-2-menu-button {
    padding: 0.5rem 4rem;
    border-radius: 5rem;
    border: 0.2rem solid #fff;
    background-color: var(--color-Flax);
    font-size: 2rem;
    font-family: var(--family-Cafe24Syongsyong);
    color: var(--color-Clinker);
    cursor: pointer;

    transition: all 0.4s ease-in-out;
    position: relative;
}
.section-2-menu-button:hover {
    animation: buttom-bounce 0.8s ease-in-out forwards;
}
/* 버튼 꾸미기 */
.section-2-menu-button::before {
    content: "";
    width: 1rem;
    height: 0.5rem;

    border-radius: 50%;
    background-color: white;

    position: absolute;
    right: 1rem;

    transform: rotate(15deg);
}
.section-2-menu-button::after {
    content: "";
    width: 1.8rem;
    height: 0.5rem;

    border-radius: 50%;
    background-color: white;

    position: absolute;
    bottom: 0.4rem;
    left: 0.8rem;

    transform: rotate(12deg) skew(10deg);
}

/* 버튼 애니메이션 */
@keyframes buttom-bounce {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.4);
    }
    40% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(1.5);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
/* Section-2 메뉴 제목 */

/* #endregion Section 스타일 */

/* Section-3  */
#section-3 > .container {
    padding: 4rem;
}

.section-3-layout {
    width: 100%;
    height: 80%;
    outline: 2px solid rgb(228, 19, 19);
    margin: 0 auto;
    overflow: hidden;
}

.section-3-layout-item {
    width: 30%;
    height: calc(100% - 2rem);
    margin: 1rem;
    outline: 2px solid blue;
    float: left;

    overflow: hidden;
}

.section-3-layout-item:nth-child(3) {
    width: calc(40% - 6rem);
    height: calc(50% - 2rem);
}
.section-3-layout-item:nth-child(4) {
    width: calc(40% - 6rem);
    height: calc(50% - 2rem);
}

/* 타블렛 크기 설정 */
@media screen and (max-width: 880px) {
    #section-2 {
        height: 1500px;
    }
    .section-2-menu-container {
        flex-direction: column;
        height: inherit;
        justify-content: space-evenly;
    }

    .section-2-menu-item {
        width: 30rem;
        height: 40rem;
    }

    .section-2-menu-heading {
        font-size: 1.8rem;
    }
    .section-2-menu-button {
        padding: 0.3rem 4rem;
    }

    .banner-image:nth-child(1) {
        background-image: url('../images/tablet-banner-1.jpg');
    }
    .banner-image:nth-child(2) {
        background-image: url('../images/tablet-banner-2.jpg');
    }
    .banner-image:nth-child(3) {
        background-image: url('../images/tablet-banner-3.jpg');
    }
    .banner-image:nth-child(4) {
        background-image: url('../images/tablet-banner-4.jpg');
    }

    #section-3 {
        height: 1800px;
    }

    .section-3-layout-item {
        width: calc(100% - 2rem);
        height: 25%;
    }
    .section-3-layout-item:nth-child(3) {
        width: calc(100% - 2rem);
        height: 25%;
    }
    .section-3-layout-item:nth-child(4) {
        width: calc(100% - 2rem);
        height: 19%;
    }
}
@media screen and (max-width: 550px) {
    .banner-image:nth-child(1) {
        background-image: url('../images/mobile-banner-1.jpg');
    }
    .banner-image:nth-child(2) {
        background-image: url('../images/mobile-banner-2.jpg');
    }
    .banner-image:nth-child(3) {
        background-image: url('../images/mobile-banner-3.jpg');
    }
    .banner-image:nth-child(4) {
        background-image: url('../images/mobile-banner-4.jpg');
    }
}