section {
    margin: 4rem 0 12rem 0;
}
/* 제목 */
.section-heading {
    font-family: var(--family-Cafe24Ssurround);
    font-size: 2.4rem;
}

.coffee-line-container {
    width: 30%;
    height: 0.4rem;

    background-color: var(--color-Clinker);

    position: relative;
}

.coffee-circle {
    width: 7rem;
    height: 7rem;

    border: 0.4rem solid var(--color-Clinker);
    border-radius: 50%;

    position: absolute;
    right: -7rem;
    top: -3.5rem;
}

.coffee-circle-inside {
    width: 5rem;
    height: 5rem;

    background-color: var(--color-Gold);
    border-radius: 50%;

    position: relative;

    left: 0.6rem;
    top: 0.6rem;
}

.coffee-line {
    position: absolute;

    width: 0.4rem;
    height: 2rem;

    background-color: white;

    border-radius: 3rem;
}

.coffee-line:nth-child(1) {
    left: 1.2rem;
    top: 1.5rem;
}
.coffee-line:nth-child(2) {
    height: 3rem;
    left: 2.2rem;
    top: 1rem;
}
.coffee-line:nth-child(3) {
    height: 1.7rem;
    left: 3.2rem;
    top: 1.5rem;
}

.cup
{
    position : absolute;

    right : 0;

    transform: rotate(-25deg);
}

p.section-paragraph {
    width: 50%;
    margin-top: 4rem;
    padding-left: 1rem;
    font-size: 1.6rem;
    line-height: 1.8;
    letter-spacing: 0.15rem;
}

.family-cafe {
    font-family: var(--family-Cafe24SsurroundAir);
}
.family-cafebold {
    font-family: var(--family-Cafe24Ssurround);
}
.family-cafeyong {
    font-family: var(--family-Cafe24Syongsyong);
}
.font-up {
    font-size: 2rem;
}

.section-3-container {
    margin-top: 4rem;
    width: 100%;
    height: 30rem;

    /* outline: 1px solid black; */

    display: flex;

    justify-content: space-between;
    align-items: center;
}
.section-3-item {
    width: 33%;
    height: 20rem;
    text-align: center;
    /* outline: 1px solid red; */
    font-family: var(--family-Cafe24Syongsyong);
}

.section-3-item:nth-child(1) {
    align-self: flex-end;
}
.section-3-item:last-child {
    align-self: flex-start;
}
.section-3-item > h3 {
    font-size: 2rem;
}
.section-3-item > p {
    width: 75%;
    height: 12rem;
    margin: 1rem auto;
    font-size: 1.8rem;

    box-shadow: 0.1rem 0.1rem 0.2rem rgba(37, 37, 37, 0.479),
        -0.1rem -0.1rem 0.2rem rgba(0, 0, 0, 0.712);
    border-radius: 7rem;
    line-height: 1.5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4-container {
    margin-top: 4rem;
    width: 100%;
    height: 40rem;

    overflow: hidden;
    /* outline: 1px solid salmon; */
}

.section-4-map {
    width: calc(60% - 0.5rem);
    height: 100%;

    background-image: url('../images/map.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 1rem;
    float: left;
}
.section-4-map-description {
    width: calc(40% - 0.5rem);
    height: 100%;
    /* outline: 1px solid rgb(99, 99, 160); */
    float: left;

    font-family: var(--family-Cafe24SsurroundAir);
    font-size: 2rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.section-4-map-description > p
{
    padding-bottom: 2rem;
}

.background-circle {
    display: block;
    position: absolute;

    width: 80rem;
    height: 80rem;

    top: 50rem;

    right: -40rem;

    background-color: var(--color-Gold);
    border-radius: 35rem;

    z-index: -1;

    animation: rotatecircle 20s infinite ease-in-out forwards;
}

@keyframes rotatecircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 880px) {
    .section-heading {
        font-size: 1.8rem;
    }
    .coffee-line-container {
        width: 50%;
    }
    p.section-paragraph {
        padding-left: 2rem;
        width: 60%;
    }

    .background-circle {
        width: 40rem;
        height: 45rem;

        right: -20rem;
    }

    .section-3-container {
        flex-direction: column;

        justify-content: center;
        height: 600px;
    }

    .section-4-container {
        width: 100vw;
        height: 80rem;
    }
    .section-4-map-description,
    .section-4-map {
        width: inherit;
        height: 50%;
    }
    
    .cup
    {
        top : 20rem;
        width: 30%;
    }
}
