#section {
    overflow: hidden;
    width: 100vw;

    min-width: 32.5rem;
}

.section-container {
    width: 100%;
    height: 60rem;

    /* outline: 1px solid bisque; */

    overflow: hidden;

    background-repeat: no-repeat;
    background-size: 100% 100%;
}
div[class$="left"] {
    width: 50%;
    height: 100%;
    float: left;

    /* outline: 2px solid tomato; */
}

div[class$="right"] {
    width: 50%;
    height: 100%;
    float: right;

    /* outline: 2px solid darkgreen; */
}
div[class$="left"],
div[class$="right"] {
    display: flex;

    justify-content: center;
    align-items: center;

    font-family: var(--family-Cafe24SsurroundAir);
}
@media screen and (min-width: 801px)
{
    .section-container:nth-child(1) {
        background-image: url('../images/menu-1.jpg');
    }
    .section-container:nth-child(2) {
        background-image: url('../images/menu-2.jpg');

    }
    .section-container:nth-child(3) {
        background-image: url('../images/menu-3.jpg');

    }
}
@media screen and (max-width: 800px)
{
    .section-container:nth-child(1) {
        background-image: url('../images/mobile-menu1.jpg');
    }
    .section-container:nth-child(2) {
        background-image: url('../images/mobile-menu2.jpg');
    
    }
    .section-container:nth-child(3) {
        background-image: url('../images/mobile-menu3.jpg');
    
    }
}
.section-heading {
    padding: 2rem;
    font-size: 2rem;

    color: var(--color-Tutu);
}
/* 3번째꺼 색상 변경 */
.section-container:nth-child(3) .section-heading {
    color: var(--color-Black);
}
.section-button {
    padding: 1rem 3rem;

    border: 1px solid var(--color-Tutu);

    text-decoration: none;

    color: var(--color-Tutu);

    font-size: 1.8rem;
    font-weight: bold;
}
.section-container:nth-child(3) .section-button {
    color: var(--color-Black);
    border: 1px solid var(--color-Black);
}
